.button {
	&__add-to-cart {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
}

.icon {
	&__add-to-cart {
		transform: translateY(-10%);
		transform: translateX(-30%);
	}
}