.gallery-modal {
  &_container {
    &_height {
      height: 55rem;
    }

    &_width {
      width: 90vw; /* Occupy the 90% of the screen width */
      max-width: 90vw;
    }
  }
}

.photos-container {
  height: 100%;
  width: 250px;
  display: flex;
  justify-content: center;
  border-right: 1px solid #7300e6;

  &_list {
    height: 100%;
    width: 85%;
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: 98px;
    grid-gap: 20px;
    padding-top: 10%;

    justify-content: center;

    &_element {
      width: 90%;
      height: 85%;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        outline: 2px solid #6600cc;
        outline-offset: -3px;
      }

      &.selected {
        outline: 2px solid #6600cc;
        outline-offset: -3px;
      }
    }
  }
}

.image-display {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  &_container {
    height: 88%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &_photo {
      width: 600px;
      height: 600px;
      border-radius: 5px;
      cursor: zoom-in;

      :hover {
        transform: scale(1.5);
      }
    }
  }

  &_actions {
    background-color: pink;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    // display: flex;
    // flex-direction: row;
  }

  &_arrow-left-container {
    height: 13%;
    border-radius: 5px;
    border-color: transparent;
    background-color: transparent;
    margin-left: 2%;

    &.disabled {
      opacity: 0.3;
    }

    &:hover {
      box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.14);
      -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.14);
      -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.14);
    }
  }

  &_arrow-right-container {
    height: 13%;
    border-radius: 5px;
    border-color: transparent;
    margin-right: 2%;
    background-color: transparent;

    &.disabled {
      opacity: 0.3;
      cursor: default;
    }

    &:hover {
      box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.14);
      -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.14);
      -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.14);
    }
  }
}

.ceva {
  position: absolute;
  right: 30px;
}
