.image-set {
  &_mini-image {
    &_container {
      height: 7vh;
      border-radius: 5px;

      cursor: pointer;
      &:hover {
        outline: 2px solid #6600cc;
        outline-offset: -3px;
      }

      &.selected {
        outline: 2px solid #6600cc;
        outline-offset: -3px;
        border-radius: 5px;
        height: 7vh;
      }
    }
  }
}
