.image-set {
  &_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 1vh;
  }

  &_mini-image {
    &_container {
      height: 7vh;
      cursor: pointer;
      &:hover {
        border: 1px solid #6600cc;
      }
    }
  }
}
