.product {
  &_card {
    &_container {
      margin-top: 3%;
    }

    &_name {
      text-decoration: none;
    }
  }
}

.product_card {
  &:hover {
    -webkit-box-shadow: 0px 0px 21px -6px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 0px 0px 21px -6px rgba(0, 0, 0, 0.59);
    box-shadow: 0px 0px 21px -6px rgba(0, 0, 0, 0.59);
  }
}

.mainElement {
  width: 100vw;
  height: 100vh;
  background: url('https://pixabay.com/get/57e7d0424a50a914ea9d8578c52f317a123ec3e45659704174267cd495/witch-1751025.svg')
    no-repeat center center;
  background-size: cover;
}
