.card-item {
  width: 18rem;
}

.product-image {
  height: 230px;
}

.price {
  padding: 1rem 0;
}

.link-to-product {
  text-decoration: none;
  color: black;
}

.link-to-product:hover {
  color: grey;
}
